@import "./variables.scss";

.grid {
  width: 100%;

  .row {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $md + 1px) {
      flex-direction: row;

      &:not(:first-child) {
        padding-top: 2px;
      }
      
      &:not(:last-child) {
        padding-bottom: 2px;
      }
    }

    @media screen and (max-width: $md) {
      &:not(:first-child) {
        padding-top: 2px;
      }
      
      &:not(:last-child) {
        padding-bottom: 2px;
      }
    }
  }
}

.row {
  width: 100%;
  
  .column {
    flex: 1 1 auto;

    @media screen and (min-width: $md + 1px) {
      &.is-one-half {
        flex: 0 0 50%;
        max-width: 50%;
      }
  
      &.is-one-third {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
      }
  
      &.is-one-fourth {
        flex: 0 0 25%;
        max-width: 25%;
      }
  
      &.is-one-fifth {
        flex: 0 0 20%;
        max-width: 20%;
      }
  
      &.is-two-thirds {
        flex: 0 0 66.6667%;
        max-width: 66.6667%;
      }
  
      &.is-two-fifths {
        flex: 0 0 40%;
        max-width: 40%;
      }
  
      &.is-three-fourths {
        flex: 0 0 75%;
        max-width: 75%;
      }
  
      &.is-three-fifths {
        flex: 0 0 60%;
        max-width: 60%;
      }
  
      &.is-four-fifths {
        flex: 0 0 80%;
        max-width: 80%;
      }
  
      &:not(:first-child) {
        padding-left: 2px;
      }
      
      &:not(:last-child) {
        padding-right: 2px;
      }
    }

    @media screen and (max-width: $md) {
      &:not(:first-child) {
        padding-top: 2px;
      }
      
      &:not(:last-child) {
        padding-bottom: 2px;
      }
    }
  }
}